<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ category?.name }}
    </ion-title>

    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="app/explore">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="card" style="display: flex; ">
    <div>
      <img src="/assets/google-1.jpg" alt="" style="width: 30vw;">
    </div>
    <div class="infos">
      <div>
        <div>2 Bedroom Apartment</div>
        <div>1978 Jasper Avenue #22A</div>
      </div>
      <div>$1,120</div>
    </div>
  </div>

</ion-content>
