<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ category?.name }}
    </ion-title>

    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="app/explore">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngFor="let item of items">
    <div class="card" style="display: flex;" [routerLink]="['/app/explore', categoryId, item.id]">
      <div class="img">
        <div style="height: 100%" [style.background-image]="'url(' +  item.thumbnail + ')'"></div>
      </div>
      <div class="infos">
        <div style="padding-top: 0.2em">
          <h5>{{ item.name }}</h5>
          <div class="subheader">{{ item.shortDescription }}</div>
        </div>
        <div class="price">{{ item.price | currency:'USD':'symbol':'1.0-0' }}</div>
      </div>
    </div>
  </ng-container>
</ion-content>
