<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="explore">
      <ion-icon src="/assets/safari.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="feeds">
      <ion-icon src="/assets/newsfeed.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="deals">
      <ion-icon src="/assets/tag.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="messages">
      <ion-icon src="/assets/message.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon src="/assets/setting.svg"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
