<div class="top">
  <div style="height: 50px; font-size: 2em; padding: 0.5em">
        <span *ngIf="canBack" [routerLink]="backTo">
          <ion-icon name="arrow-back"></ion-icon>
        </span>
  </div>
  <div class="d-flex" align-items-center justify-content-center>
    <img src="/assets/quick-bee.png" alt="">
  </div>
</div>

<div class="middle">
  <ion-content [scrollY]="false">
    <ion-router-outlet animated="false"
                       (activate)="onActivatedComponent($event)">
    </ion-router-outlet>
  </ion-content>
</div>

<div class="bottom d-flex ion-align-items-end">
  <div *ngIf="hideSignUp" class="full-width ion-text-center " style="padding: 1em 0; font-size: 0.8rem">
    Don't have an account? <a href="#">Sign Up</a>
  </div>
</div>
